Makefile
Makefile.in
Makefile.in.in
configure
config.log
config.status
aclocal.m4
ChangeLog
INSTALL
autom4te.cache/
po/POTFILES
po/stamp-it
data/weather-settings.desktop
staging/

*~
*.gmo
metadata.json
*.gschema.xml
*.gschema.valid
