Source: gnome-shell-extension-weather
Section: gnome
Priority: extra
Maintainer: Christian METZLER <neroth@xeked.com>
Build-Depends: debhelper (>= 8.0.0),
 gnome-pkg-tools,
 intltool,
 libglib2.0-dev,
 libgnome-desktop-3-dev (>= 2.91.6),
 gnome-common
Standards-Version: 3.9.2
Homepage: https://github.com/Neroth/gnome-shell-extension-weather
Vcs-Git: git://github.com/Neroth/gnome-shell-extension-weather.git
Vcs-Browser: https://Neroth@github.com/Neroth/gnome-shell-extension-weather.git

Package: gnome-shell-extension-weather
Architecture: all
Depends: ${misc:Depends}, gnome-shell, seed
Description: Weather extension for GNOME Shell
 A simple extension for displaying weather informations from several cities in GNOME Shell
